.app-conatiner {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(darkblue, darkviolet, violet);
}
.homepara {
    border: 1px solid black;
    text-align: center;
    font-style: normal;
    font-size: 25px;
    margin: 25px 25px;
    padding: 25px 25px;
}
.custom-toolbar{
    padding-left: 20px;
    color: white;
}
.anchor_class{
    margin-left: 70%;
    position: fixed;
}
a{
    padding-left: 10px;
    color: white;
}
mat-toolbar{
    background-color: rgb(23, 23, 153);
    font-size: 25px;
}